
       


  
  <h2>Create</h2>
  
  <form [formGroup]="FormData" (ngSubmit) ="OnClickSubmit(FormData.value)" >
      <div class="form-horizontal">
          <h4>Project</h4>
          
          
       
          <div class="form-group">
              <label class="control-label col-md-2" for="EName">Project Name</label>
              <div class="col-md-10">
                  <input formControlName="Pname" class="form-control text-box single-line" type="text" value=""
                  placeholder=" Name"/>
                  <span class="field-validation-valid text-danger" data-valmsg-for="EName" data-valmsg-replace="true"></span>
                  <div *ngIf="FormData.controls.Pname.errors && (FormData.controls.Pname.dirty || FormData.controls.Pname.touched)" class="alert-danger">
                        <div *ngIf="FormData.controls.Pname.errors.required">
                            This field Required
                        </div>
                    </div>
        </div>
    </div>
          
  
          <div class="form-group">
              <label class="control-label col-md-2" for="Desg">Start Date</label>
              <div class="col-md-10">
                  <input formControlName="StartDate"class="form-control text-box single-line" data-val="true" data-val-required="The Desg field is required." id="Desg" name="Desg" type="date" value="" />
                  <span class="field-validation-valid text-danger" data-valmsg-for="Desg" data-valmsg-replace="true"></span>
                  
              </div>
          </div>
  
          <div class="form-group">
              <label class="control-label col-md-2" for="Mid">End Date</label>
              <div class="col-md-10">
                  
                    <input formControlName="endDate"class="form-control text-box single-line" data-val="true" data-val-required="The Desg field is required." id="Desg" name="Desg" type="date" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Desg" data-valmsg-replace="true"></span>
                    
                </div>
            </div>
          
  
          <div class="form-group">
              <label class="control-label col-md-2" for="Email">ClientName</label>
              <div class="col-md-10">
                  <input formControlName="ClientName" class="form-control text-box single-line" id="Email" name="Email" type="text" value="" />
                  <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                  <div *ngIf="FormData.controls.ClientName.errors && (FormData.controls.ClientName.dirty || FormData.controls.ClientName.touched)" class="alert-danger">
                    <div *ngIf="FormData.controls.ClientName.errors.required">
                        This field Required
                    </div>
                </div>
                </div>
          </div>
  
          
          <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Create" class="btn btn-default" [disabled]="!FormData.valid"/>
              </div>
          </div>
        </div>
  </form>
  
  <div>
      <a href="/project/showproject">Back to List</a>
  </div>







    





 <!--<h1>Create Employee</h1>
<form>
    <div class="form-horizontal">
       
        <div class="form-group">
            <label class = "control-label col-md-2">Employee Id</label> 
            <div class="col-md-10">
              <input type="number" value="" class = "control-label col-md-2">
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Employee Name</label> 
            <div class="col-md-10">
              <input type="text" value="" class = "control-label col-md-2">
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Designation</label> 
            <div class="col-md-10">
              <input type="text" value="" class = "control-label col-md-2">
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Manger Id</label> 
            <div class="col-md-10">
              <input type="number" value="" class = "control-label col-md-2">
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Email</label> 
            <div class="col-md-10">
              <input type="email" value="" class = "control-label col-md-2">
            </div></div>
       

        <div class="form-group">
            <label class = "control-label col-md-2">Skill Set</label> 
            <div class="col-md-10">
              <input type="text" value="" class = "control-label col-md-2">
             
            </div>

            <div class="form-group">
              
                  <input type="submit" value="Create" class="btn btn-default" />
                  <br>  <br>
                  <a href="/Employee">Back to List</a>
              </div>
          </div>
     
           <div>
           <a href="/Employee">Back to List</a>
           </div>
        </div>
</div>
</form>-->
  


   
