<div class="container body-content">
        


    <div class="jumbotron">
        <h1>Angular</h1>
        <p style="text-align: justify"class="lead">Angular JS is an open source framework built over JavaScript.
             It was built by the developers at Google. This framework was used to overcome obstacles encountered while working with Single Page applications.
              Also, testing was considered as a key aspect while building the framework. 
              It was ensured that the framework could be easily tested. The initial release of the 
              framework was in October 2010.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    
    
    </div>
    